*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.App{
  min-height: 100vh;
  display: flex;
  background: #664b92;
}
ul{
  position: relative;
  width: 70%;
  margin:auto;
  padding: 20px ;
  box-sizing: border-box;
  background: rgba(0,0,0,.1);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, .5);
  border-radius: 5px;
  overflow: hidden;
  font-size: 17px;
  word-wrap: break-word;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
ul li{
  display: flex;
  background: rgba(255,255,255,.1);
  padding: 10px 20px;
  color: #fff;
  margin:5px 0;
  transition: .5s ;
  font-size: 17px;


}

ul li:nth-child(1){
  background: rgba(255,255,255,.4);


}
ul li:nth-child(2){
  background: rgba(255,255,255,.2);


}
ul li:nth-child(3){
  background: rgba(255,255,255,.2);


}
ul li:hover{
  transform: scale(1.06);
  background: #42296b;
}
h2{
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #a321a7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 7px 0;
  font-size: 20px;
  color: antiquewhite;
}
h3{
  text-align: center;
  color: #4a2db4;
}


